.mission .center {
  padding: 0 5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.mission .center .mission-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}
.mission .center .mission-data .order1 {
    order: -1;
}
.mission .center .mission-data .order2 {
    order: -2;
}

.mission .center .mission-data .img {
  padding: 2rem;
}

.mission .center .mission-data div h1 {
  color: var(--color-bg-variant);
}

.mission .center .mission-data div a {
  color: var(--color-bg);
  font-weight: 400;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1rem;
}


/* ================ TABLET =============== */
@media only screen and (max-width: 868px) {
  .mission .center {
    gap:1rem;
    padding: 0 2rem;
} .mission .center .mission-data {
    grid-template-columns: 1fr;
    gap: 1rem;
}

.mission .center .mission-data .img {
  padding: unset;
}

.mission .center .mission-data .order1 {
  order: unset;
}
}
/* ================ MOBILE DEVICES =============== */
@media only screen and (max-width: 480px) {
  .mission .center {
    padding: 0 1rem;
}

.mission .center .mission-data div h1 {
  color: var(--color-bg-variant);
  margin-top: 0;
}

.mission .center .mission-data:last-child {
  gap: 0;
}
}