.connect .center {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 5rem;
}

.connect .center .connect-txt h1 {
    color: var(--color-bg-variant);
}

.connect .center .connect-txt p {
  margin-bottom: 1rem;
}

.connect .center .connect-txt ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.4rem;
}

.connect .center .connect-txt ul li {
  display: flex;
  gap: 0.5rem;
}

.connect .center .connect-txt ul li .icon{
    color: var(--color-bg-variant);
}

.connect .center .connect-txt ul li span {
  font-weight: bolder;
}

.connect .center .connect-txt a {
  height: 3rem;
  font-size: 1rem;
  color: var(--color-bg);
  background-color: var(--color-bg-variant);
}

/* ================ TABLET =============== */
@media only screen and (max-width: 868px) {
  .connect .center {
    grid-template-columns:1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .connect .center {
    grid-template-columns:1fr;
  }
}

/* ================ MOBILE DEVICES =============== */
@media only screen and (max-width: 480px) {
  .connect .center {
    padding: 0 1rem;
  }
}


