.footer .center {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 25rem;
    background-color: var(--color-bg-variant-light);
}

.footer .center h1 {
    color: var(--color-bg);
    font-size: 6rem;
}


/* ================ MOBILE DEVICES =============== */
@media only screen and (max-width: 480px) {

    .footer .center {
        height: 9rem;
    }
    
    .footer .center h1 {
        font-size: 3rem;
    }

}